$blockName: ".submissions";

$submission-items-width: 459px;
$submission-items-to-map-gap: 40px;

#{$blockName} {
  max-height: 100vh;
  &__header {
    margin-bottom: 26px;
  }
  &__form {
    gap: 40px;
    margin-bottom: 36px;
  }
  &__left-side {
    gap: 40px;
    > * {
      flex: 1;
    }
    app-search {
      min-width: 334px;
      @media only screen and (max-width: 600px) {
        min-width: 100%;
      }
    }
    app-select {
      min-width: 209px;
      @media only screen and (max-width: 600px) {
        min-width: 100%;
      }
    }
    app-date-picker {
      min-width: 209px;
      @media only screen and (max-width: 600px) {
        min-width: 100%;
      }
    }
  }
  &__right-side {
    gap: 24px;
  }

  &__items {
    &-container {
      gap: $submission-items-to-map-gap;
    }
    flex: 1;
    min-width: $submission-items-width;
    @media only screen and (max-width: 600px) {
      min-width: 0;

      ::ng-deep .card__status {
        position: initial !important;
      }
    }
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__map {
    flex: 1;
    min-width: calc(
      100% - $submission-items-width - $submission-items-to-map-gap
    );
  }
}
