<div class="{{ blockName }}">
  <div class="{{ blockName }}__description">{{ data?.description }}</div>
  <div><span class="{{ blockName }}__label">From:</span> {{ data?.from }}</div>
  <div><span class="{{ blockName }}__label">To: </span>{{ data?.to }}</div>
  <div>
    <span class="{{ blockName }}__label">Due Date: </span
    ><span class="{{ blockName }}__due-date">{{ data?.dueDate }}</span>
  </div>
  <div
    class="{{ blockName }}__status d-flex align-items-center"
    [ngClass]="getStatusClass(data?.status)"
  >
    <div></div>
    {{ getStatus(data?.status) }}
  </div>
</div>
